/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'GT Walsheim', sans-serif;
  text-color: #132968;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fallfade-enter {
  opacity: 0;
  transform: translateY(-1rem);
}
.fallfade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms;
}
.fallfade-exit {
  opacity: 1;
}
.fallfade-exit-active {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 200ms;
}

.mybutt {
  transform: translateY(-1rem);
}
